.nav{
  font-family: 'Rubik', sans-serif;
  position:absolute;
  left  :30px;
  top: 30px;
  color: red;
  float: left;
  font-size: 18px;
  color: white
}

.marquee {
    position: fixed;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.12em;
    overflow: hidden;
    white-space: nowrap;
    line-height: 1em;
    font-size: 16px;
    margin-left: 0;
    bottom: 0;
    right: -720px;
    width: 100vh;
    transform-origin: 10px;
    transform: rotate(-90deg);
    font-family:'Rubik', sans-serif;
    font-size: 30px}

p {
  font-family:'Rubik', sans-serif;
  font-size: 40px;
  position: fixed;
  bottom:0;
  left:30px;
}

#m3{
  float: left;
}

div {
    cursor:wait;
}
