* { margin: 0px; padding: 0px; }
/*snoo*/
img
{
 top: calc(50vh - 200px);
 left: calc(50vw - 150px);
 text-align: center;
 transition: all 500ms ease;
 position: relative;
}

#snoo {
  position:relative;
}

#snoo img {
  position:absolute;
  transition: opacity;
}

#snoo img.top:hover {
  opacity:0;
}


.main{
  position: absolute;
  top: calc(50vh - -100px);
  left: calc(50vw - 25px);
  margin-left: -500px;
  text-align: left;
  color: blue;
  font-family:verdana;
  font-size: 25px;
  line-height: 45px;
}

.rate{
  position: absolute;
  top: calc(50vh - -400px);
  left: calc(50vw - 25px);
  margin-left: -200px;
  text-align: center;
  color: blue;
  font-family:verdana;
  font-size: 70px;
  line-height: 45px;
}


#sample{
  position: relative;
  padding-top: 750px;
  margin-left: -280px;
  padding-bottom: 200px;

}

.mains{
  position: absolute;
  /*top: calc(50vh - -400px);*/
  left: calc(50vw - 25px);
  margin-left: -30px;
  text-align: center;
  color: blue;
  font-family:verdana;
  font-size: 20px;
  line-height: 45px;
}
