body{
  background: #ff9932;
background: -moz-linear-gradient(top, #ff9932 0%, #ff898b 72%);
background: -webkit-linear-gradient(top, #ff9932 0%,#ff898b 72%);
background: linear-gradient(to bottom, #ff9932 0%,#ff898b 72%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9932', endColorstr='#ff898b',GradientType=0 );
}


.nav{
  font-family: 'Rubik', sans-serif;
  position:fixed;
  left:30px;
  top: 10px;
  color: red;
  float: left;
  font-size: 10px;
  color: white;

}

.marquee{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 10px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;

}
.marquee2{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 300px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;

}

.marquee3{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 600px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;

}

.marquee4{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 900px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;
}
.marquee5{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 1200px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;
}
.marquee6{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 1500px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;
}
.marquee7{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 1800px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;
}
.marquee8{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 2100px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;
}
.marquee9{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 2400px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;
}
.marquee10{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 2700px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;
}

.marquee11{
  font-family: 'Rubik', sans-serif;;
  position:relative;
  left:5px;
  top: 3000px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;
}

.marquee12{
  font-family: 'Rubik', sans-serif;
  position:relative;
  left:5px;
  top: 3300px;
  color: red;
  float: left;
  font-size: 100px;
  color: white;
  margin-right: -1300px;
}




img {
  display: block;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

#mosaic{
  margin-top: 14px;
  padding-top: 20px;
  margin-left: 5px;
  margin-right: 7px;
  background-color: #FDDDA0;
}


#netscape{
  background-color: #A0DBE8;
  margin-top: -5px;
  margin-left: 5px;
  margin-right: 7px;
}

#xerox{
  background-color: #F58045;
  margin-left: 5px;
  margin-right: 7px;

}
#circle4{
  background-color: #FCB433;
  margin-left: 5px;
  margin-right: 7px;
}


#crown6{
  background-color: #23346B;
  margin-left: 5px;
  margin-right: 5px;

}
#expanding7{
  background-color: #F4CBE0;
  margin-left: 5px;
  margin-right: 5px;
}

#gift8{
  background-color: #8FCEDB;
  margin-left: 5px;
  margin-right: 5px;
}

#heart9{
  background-color:#C1B6A8;
  margin-left: 5px;
  margin-right: 5px;
}

#loading10{
  background-color:#537EA2;
  margin-left: 5px;
  margin-right: 5px;
}

#loading11{
  background-color: #D74022;
  margin-left: 5px;
  margin-right: 5px;
}

#mac12{
  background-color: #F79868;
  margin-left: 5px;
  margin-right: 5px;

}
#windows13{
  background-color: #0BA8E1;
  margin-left: 5px;
  margin-right: 5px;

}
#windows14{
  background-color: #FCB433;
  margin-left: 5px;
  margin-right: 5px;

}

#modern15{
  background-color: #76C7EB;
  margin-left: 5px;
  margin-right: 5px;

}
#modern16{
  background-color: #B5D334;
  margin-left: 5px;
  margin-right: 5px;

}
#modern17{
  background-color: #C1B6A8;
  margin-left: 5px;
  margin-right: 5px;

}
#modern23{
  background-color: #FDDDA0;
  margin-left: 5px;
  margin-right: 5px;

}

.backtotop{
  font-family: 'Rubik', sans-serif;
  position:relative;
  float:right;
  font-size: 18px;
  margin-right: 5px;
  color: white;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}


/* Extra Things */
font-family: 'Open Sans', sans-serif;}h3{font-size: 30px; font-weight: 400;text-align: center;margin-top: 50px;}h3 i{color: #444;}
