* { margin: 0px; padding: 0px; }

.downvote
{
 top: calc(50vh - 450px);
 left: auto;
 text-align: center;
 transition: all 500ms ease;
 position: relative;;
}

.typewriter{
  margin-top:600px;
  position: absolute;
  width: 400px;
  top: calc(50vh - 350px);
  left: calc(50vw - 180px);
  text-align: center;
  transition: all 500ms ease;
}

img{
  animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

  animation-delay: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}


@keyframes floating {
	0% {
		transform: translateY(0%);
	}
	50% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(0%);
	}
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);
	}
	50% {
		-webkit-transform: translateY(8%);
	}
	100% {
		-webkit-transform: translateY(0%);
	}
}


p{
  font-family: "verdana";
  font-size: 12px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
  position: absolute;

}

p:nth-child(2){
  animation: type2 8s steps(60, end);
  padding-top: 20px;
}

p a{
  text-decoration: none;
}

span{
  animation: blink 1s infinite;
}

@keyframes type{
  from { width: 0; }
}

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; }
}

@keyframes blink{
  to{opacity: .0;}
}



body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.downvote{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;

	animation-duration: 1.5s;
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}


.reveal-text,
.reveal-text:after {
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-duration: 800ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.reveal-text {
  position: relative;
  font-size: 90px;
  font-family: verdana;
  font-weight: bold;
  display: block;
  user-select: none;
  animation-name: reveal-text;
  white-space: nowrap;
  cursor: default;
}
.reveal-text:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0080d1;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: revealer-text;
}

@-webkit-keyframes reveal-text {
  from {
            clip-path: inset(0 100% 0 0);
  }
  to {
            clip-path: inset(0 0 0 0);
  }
}

@keyframes reveal-text {
  from {
            clip-path: inset(0 100% 0 0);
  }
  to {
            clip-path: inset(0 0 0 0);
  }
}
@-webkit-keyframes revealer-text {
  0%, 50% {
            transform-origin: 0 50%;
  }
  60%, 100% {
            transform-origin: 100% 50%;
  }
  50% {
            transform: scaleX(1);
  }
  60% {
            transform: scaleX(1);
  }
  100% {
            transform: scaleX(0);
  }
}
@keyframes revealer-text {
  0%, 50% {
            transform-origin: 0 50%;
  }
  60%, 100% {
            transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  60% {
            transform: scaleX(1);
  }
  100% {
            transform: scaleX(0);
  }
}
.note {
  position: fixed;
  bottom: 16px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
.note pre {
  display: inline-block;
}

/*comments*/
.comments,
.comments:after {
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-duration: 800ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.comments {
  position: relative;
  padding-top: 30px;
  font-size: 40px;
  font-family: verdana;
  font-weight: bold;
  display: block;
  user-select: none;
  animation-name: comments-t;
  white-space: nowrap;
  cursor: default;
}
.comments:after {
  content: "";
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0080d1;
  transform: scaleX(0);
  transform-origin: 0 50%;
  pointer-events: none;
  animation-name: comments-text;
}

@-webkit-keyframes comments-t{
  from {
            clip-path: inset(0 100% 0 0);
  }
  to {
            clip-path: inset(0 0 0 0);
  }
}

@-webkit-keyframes comments-text {
  0%, 50% {
            transform-origin: 0 50%;
  }
  60%, 100% {
            transform-origin: 100% 50%;
  }
  50% {
            transform: scaleX(1);
  }
  60% {
            transform: scaleX(1);
  }
  100% {
            transform: scaleX(0);
  }
}
@keyframes comments-text {
  0%, 50% {
            transform-origin: 0 50%;
  }
  60%, 100% {
            transform-origin: 100% 50%;
  }
  50% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  60% {
            transform: scaleX(1);
  }
  100% {
            transform: scaleX(0);
  }
  
}
.note {
  position: fixed;
  bottom: 16px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.3);
}
.note pre {
  display: inline-block;
}
